body{
    background-image: url(fondo.jfif);
  }

button{
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    border-color: black;
    border-style: inset;
    font-family:  "Times New Roman", Times, serif;
}

div{
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    background-color: rgb(255, 255, 255);
    border: solid;
    height: 250px;
    width: 245px;
    padding-left: 20px;
    padding-right: auto;
    padding-bottom: auto;
    padding-top: auto;
    border-color: black;
    border-style: inset;
}

p{
    width: 209px;
    height: 25px;
    background-color: white;
    color: black;
    border-color: black;
    border-style: inset;
    font-family:  "Times New Roman", Times, serif;
}

