body{
    background-image: url(fondo.jfif);
  }

button{
    width: 40px;
    height: 40px;
    background-color: rgba(66, 54, 54, 0.048);
    color: black;
    border-color: black;
    border-style: inset;
    font-family:  "Times New Roman", Times, serif;
}

div{
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    background-color: #000;
    border: solid;
    height: 250px;
    width: 245px;
    padding-left: 20px;
    padding-right: auto;
    padding-bottom: auto;
    padding-top: auto;
    border-color: black;
    border-style: inset;
}

p{
    width: 205px;
    height: 40px;
    background-color: rgba(66, 54, 54, 0.048);
    color: black;
    border-color: black;
    border-style: inset;
    font-family:  "Times New Roman", Times, serif;
}

.boton_value{
      color: white;
}
.op{
    color: white;
}
.borrar{
    color: white;
}
.ac{
    color: white;
}
.testANS{
    color: white;
}
.equal{
    color: white;
}
.sqrt{
    color: white;
}