body{
    background-image: url(fondo.jfif);
  }
  button{
    width: 40px;
    height: 40px;
    background-color: rgba(66, 54, 54, 0.048);
    color: black;
    font-weight: bold;
    border-color: grey;
    border-style: ridge;
    font-family: 'Chakra Petch', sans-serif;
    border-radius: 5px 5px 5px 5px;
  }

  div{
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    background-color: #e61c3a;
    border: solid;
    height: 300px;
    width: 300px;
    padding-left: 35px;
    border-radius: 10px 10px 10px 10px;
  }

  p{
      
  }