body{
    background-image: url(campo.jpg);
    background-size: 1920px 1550px;
  }

h1 {
    border: solid;
    color: white;
    font-style:italic;
    background-color: black;
    border-color:black;
    }

div {
    border: solid;
    color: black;
    border-color: darkgreen;
    margin: 25px;
    background-color:rgb(180, 180, 180);
    font-size: large;
    }

.gif{
    position: absolute;
    left:900px;
    }

h2 {
    font-family: fantasy;
    text-align: center;
    border: seashell;
    color: black;
    }

li {
    font-family: cursive;
    font-size: x-large;

    }

.parrafo{
    font-family: cursive;
}

.tabla{
    font-family: cursive;
    font-size: x-large;
}

