body {
    background-image: url(campo.jpg);
    background-size: 1920px 1550px;
  }

div {
    border: solid;
    color: black;
    border-color: darkgreen;
    margin: 25px;
    background-color:rgb(180, 180, 180);
    font-size: large;
    }

.gif{
    position: absolute;
    left:900px;
    }

h2{
    font-family: fantasy;
    text-align: center;
    border: solid;
    color: black;

    }

li{
    font-family: cursive;
    font-size: x-large;

    }

.parrafo{
    font-family: cursive;
}

.tabla{
    
    font-family: cursive;
    font-size: x-large;
}


  <h2>Botones</h2>
    <button>Botón 2</button>
    <a href="https://www.youtube.com/watch?v=4Jos_lMPDxU"><button>Baptistao</button></a>
    <p>Imagen creada por mi</p>