body{
  background-color: black;
}

#imagesrc{
  border: solid;
  color: white;
}

#izq{
  float: left;
}

#der{
  float: right;
}

#images{
  width: 1300px;
  height: 500px;
  margin:auto;
}

#canvas{
  border: solid;
  border-color: white;
}

.rojo{
  color: red;
}

.verde{
  color: green;
}

.azul{
  color: blue;
}

#bw{
  font-size: medium;
  border: groove lightcoral;
  border-radius: 20px;
}
#ori{
  font-size: medium;
  border: groove lightcoral;
  border-radius: 20px;
}
#gray{
  font-size: medium;
  border: groove lightcoral;
  border-radius: 20px;
}

.numeros{
  color: white;
}

